@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

:root {
    --primaryColor: #0367fb;
    --secondaryColor: #d1f800;
    --dark: #161616;
    --light: #fff;
    --gray: #616161;
}